
  
  .container1 {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: rgb(76, 209, 233);
    background-color: rgb(76, 209, 233);
    text-align:right;

    
  }
  
  .container1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container1 img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container1 img.right {
    float: right;
    max-width: 60px;
    width: 100%;
    margin-left: 20px;
    border-radius: 50%;
  }
  